html {
    font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
    box-sizing: border-box;
}
.copy-link:hover {
    opacity: 0.8;
    cursor: pointer;
}
body {
    font: 1.6rem Helvetica;
    height: 100vh;
    margin: 0;
    background-color: #8080800d;
}

button {
    font-size: 1.6rem;
}

button.btn-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.full-width {
    width: 100%;
}

.bg-blue {
    background-color: #005aab;
}
#root {
    height: 100%;
}

.grid-container {
    overflow-x: hidden;
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

.head-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.head-section input {
    width: 300px;
}

.header {
    grid-area: header;
    background-color: #f1f1f1;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    box-shadow: 1px 0px 7px #073f79;
    z-index: 1000;
}

.brand a {
    color: #000;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
}

.header-links a {
    color: #000;
    text-decoration: none;
    padding: 1rem;
}

.header-links a:hover {
    color: #007bff;
}

.main {
    grid-area: main;
    margin-top: 20px !important;
}

.footer {
    grid-area: footer;
    background-color: #005aab;
    color: #ffffff;
    height: fit-content;
    padding: 20px;
}

.footer ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.footer ul li {
    margin: 7px 20px;
    font-size: 18px;
    color: #fff;
}

.footer ul li:hover {
    opacity: 0.8;
    cursor: pointer;
}

.footer .col-md-12 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .rights {
    padding: 10px 0;
}

.footer .contact {
    text-align: right;
}

.footer .contact p {
    margin: 5px 0;
}

.footer .contact p svg {
    width: 15px;
    margin-right: 10px;
    vertical-align: text-top;
}

.footer .contact a {
    color: #fff;
}

.footer .contact a:hover {
    color: #ff8000;
}

a {
    text-decoration: none;
}

a:hover {
    color: #ff8000;
}

/*Carousel*/
.-carousel {
    position: relative;
    min-height: 400px;
}

.-carousel .carousel-inner {
    height: 400px;
}

.-carousel .carousel-inner .carousel-item {
    height: 100%;
    background-position: center;
    background-size: cover;
}

.-carousel .carousel-wrapper {
    min-width: 100vw;
    margin-left: -50vw;
    left: 50%;
    position: absolute;
    padding: 0 !important;
}

/*Pagination*/
.pagination-wrapper {
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

.pagination-wrapper .pagination li {
    padding: 4px 10px;
}

.pagination-wrapper .pagination li.active {
    background-color: #9bf3f0;
    border-radius: 5px;
}

.pagination-wrapper a {
    font-size: 18px;
}

/* Home Screen */
.products {
    margin-top: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.products li {
    list-style-type: none;
    padding: 0;
    flex: 0 1 34rem;
    margin: 1rem;
    height: 50rem;
    border-bottom: 0.1rem #c0c0c0 solid;
}

.products .info-text {
    margin: 0 auto;
    margin-top: 15px;
}

.product-wrapper {
    height: auto;
    padding: 0 10px;
}

/*.product {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: space-between;*/
/*  height: 420px;*/
/*  !*border: 1px solid gainsboro;*!*/
/*  border-radius: 8px;*/
/*  overflow: hidden;*/
/*  box-shadow: 2px 3px 7px -2px grey;*/
/*}*/
.product > a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 420px;
    padding-bottom: 5px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 3px 7px -2px grey;
    color: black;
}

.product > a:hover {
    text-decoration: none;
}

.product > a:hover .-bg-image {
    transform: scale(1.2);
    transition: all .5s;
}

.product > a:hover .product-name {
    color: #ff8000;
}

.content {
}

.product-name {
    color: #007bff;
    font-size: 2rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.product-brand {
    font-size: 2rem;
    color: black;
    font-family: monospace;
    font-weight: 700;
}

.product-price {
    font-size: 20px;
    font-weight: bold;
    color: #005aab;
    font-family: monospace;
}

.product-image {
    max-width: 34rem;
    max-height: 34rem;
}

.product-rating {
    margin-bottom: 1rem;
}

.product .link {
    height: 280px;
    min-height: 280px;
    overflow: hidden;
}

.-bg-image:hover {
    transform: scale(1.2);
    transition: all .5s;
}

/* Reviews */
ul.review {
    list-style-type: none;
    padding: 0;
}

.review li {
    margin: 1rem;
    margin-bottom: 2rem;
}

.review li > div {
    margin: 0.5rem;
}

/* Rating */
.rating span {
    color: #ffb901;
    font-size: 1.8rem;
    margin: 0.1rem;
}

.rating span:last-child {
    color: #444444;
    font-size: 1.4rem;
}

a > .rating > span:last-child {
    color: #0000ff;
}

/* Sidebar */

.brand button {
    font-size: 3rem;
    padding: 0.5rem;
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    transition: all 0.5s;
    transform: translateX(-30rem);
    width: 30rem;
    background-color: #f0f0f0;
    height: 100%;
    z-index: 9999;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-close-button {
    border-radius: 50%;
    border: 0.1rem #000000 solid;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    font-size: 2rem;
    padding-top: 0;
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    top: 1.5rem;
}

/* Product Details */
.details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
}

.details-image {
    flex: 2 1 60rem;
}

.details-image img {
    max-width: 60rem;
    width: 100%;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.details-info {
    flex: 1 1 30rem;
}

.details-action {
    flex: 1 1 30rem;
}

.details-action select {
    border-radius: .5rem;
    padding: 1rem;
    background: white;
}

.details-info li span {
    margin-left: 10px;
}

.details-info ul,
.details-action ul {
    list-style-type: none;
    padding: 0;
}

.details-info li,
.details-action li {
    margin-bottom: 1rem;
}

.back-to-result {
    padding: 1rem;
    color: #0000ff;
}

.back-to-result:hover {
    opacity: 0.8;
    cursor: pointer;
}

.details-action {
    border: 0.1rem #808080 solid;
    border-radius: 0.5rem;
    background-color: #f8f8f8;
    padding: 1rem;
}

.details-action ul li:last-child {
    display: flex;
    flex-direction: column;
}

.button {
    padding: 0.5rem;
    border: 0.1rem #808080 solid;
    border-radius: 0;
    color: white;
    cursor: pointer;
    background-color: #F44336;
}

.button:hover {
    border: 0.1rem #404040 solid;
}

.button.primary {
    background-color: #0fcdf0;
    color: #fff
}

.button.secondary {
    background-color: #f0f0f0;
}

.text-center {
    text-align: center;
}

.info-text {
    background: #cff1ff;
    border-left: 3px solid #007bff;
    padding: 5px 7px;
}

.title-title {
    font-size: 2.7rem;
    width: max-content;
    margin: 0 auto;
}

strong {
    color: #005aab;
}


.error-text {
    background: #ffcfcf;
    border-left: 4px solid red;
    padding: 7px;
}

.success-text {
    background: #cfffd8;
    border-left: 4px solid #00ff44;
    padding: 7px;
}

.footer .info-text {
    color: #000;
    padding: 7px 15px;
    width: max-content;
}

.not-valid {
    border-color: red;
}

button:focus, button:active {
    outline: none;
}

/* Cart */

.cart {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    align-items: flex-start;
    margin-top: 45px;
}

.cart-list {
    flex: 1 60rem;
}

.cart-action .form-modal input {
    margin: 5px 0;
}



.cart-list-container {
    padding: 0;
    list-style-type: none;
    padding: 1rem;
}

.cart-list-container li {
    display: flex;
    justify-content: space-between;

    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-list-container li img {
    max-width: 15rem;
    max-height: 15rem;
}

.cart-list-container li:first-child {
    display: flex;
    justify-content: space-between;
}

.cart-image {
    flex: 1 1;
    margin-right: 10px;
    min-width: 150px;
    text-align: center;
}

.cart-name {
    flex: 8 1;
}

.cart-name select {
    border-radius: .5rem;
    padding: 1rem;
    background-color: white;
}

.cart-price {
    flex: 1 1;
    font-size: 3.5rem;
    text-align: right;
    font-weight: 700;
}

/*form modal*/
.modal-dialog {
    max-width: 860px;
}

.form-modal input {
    width: 100%;
}
.form-modal .marked-inputs {
    justify-content: flex-start;
    flex-wrap: wrap;
}
.form-modal .marked-inputs .input-field {
    margin: 10px 5px 10px 20px;
}

.form-modal select {
    width: 100%;
    padding: 1rem;
    border: 0.1rem #c0c0c0 solid;
    border-radius: 0.5rem;
}

.form-modal label {
    margin-top: 15px;
}

.form-modal textarea {
    border: 0.1rem #c0c0c0 solid;
    border-radius: 0.5rem;
}

.btn {
    font-size: 14px;
}

/*bootstrap modal*/
.modal-content {
    padding: 20px 40px;
}

.modal-header .close {
    font-size: 22px;
}

/* forms */

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    top: 0;
    /*position: absolute;*/
    z-index: 99999999999;
}

.form form {
    background-color: #fff;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 32rem;
    padding: 2rem;
    border: 0.1rem #c0c0c0 solid;
    border-radius: 0.5rem;
    list-style-type: none;
}

.form-container li {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

input {
    padding: 1rem;
    border: 0.1rem #c0c0c0 solid;
    border-radius: 0.5rem;
}

/* Products */

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content-margined {
    margin: 1rem;
    position: relative;
}

.table td, .table th {
    vertical-align: middle !important;
}

.table {
    width: 100%;
}

th {
    text-align: left;
}

tbody > tr:nth-child(odd) {
    background-color: #f0f0f0;
}

/* Checkout Steps */

.checkout-steps {
    display: flex;
    justify-content: space-between;
    width: 40rem;
    margin: 1rem auto;
}

.checkout-steps > div {
    border-top: 0.3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1 1;
    padding-top: 1rem;
}

.checkout-steps > div.active {
    border-top: 0.3rem #f08000 solid;
    color: #f08000;
}

/* Place Order */

.placeorder {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-between;
    margin-top: 20px;
}

.placeorder-info {
    flex: 2 1 60rem;
}

.placeorder-action {
    flex: 1 1 20rem;
    border: 0.1rem #c0c0c0 solid;
    border-radius: 0.5rem;
    background-color: #fcfcfc;
    padding: 20px;
    height: fit-content;
}

.placeorder-info > div {
    border: 0.1rem #c0c0c0 solid;
    border-radius: 0.5rem;
    background-color: #fcfcfc;
    padding: 1rem;
    margin: 1rem;
}

.placeorder-info > div:first-child {
    margin-top: 0;
}

.placeorder-action > ul {
    padding: 0;
    list-style-type: none;
}

.placeorder-action > ul > li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.placeorder-action > ul > li:last-child {
    font-size: 2rem;
    font-weight: bold;
    color: #c04000;
}

.placeorder-actions-payment > div {
    width: 100%;
}

/* Profile */

.profile {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.profile .form {
    align-items: normal;
}

.profile-info {
    flex: 1 1 30rem;
}

.profile-orders {
    flex: 3 1 60rem;
}

/* admin */
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    position: absolute;
    display: none;
    right: 0;
    padding: 1rem;
    list-style-type: none;
    z-index: 20;
    background-color: #f1f1f1;
    margin: 0;
    margin-top: 0.4rem;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header-list .nav-link {
    color: #0093ad;
}

.header-list .nav-link.active {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}

.header-list .nav-item:hover {
    opacity: .8;
    cursor: pointer;
}

/*category screen*/
.category-screen-wrapper {
    padding: 20px 0;
}

.category-screen-wrapper .product > a {
    height: 380px;
}

.category-screen-wrapper .product-name {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.category-screen-wrapper .product-wrapper {
    display: inline-block;
}

.category-screen-wrapper .filter {
    display: block;
}

.category-screen-wrapper .sort-order-right {
    width: 100%;
    padding: 4px;
    border-radius: 5px;
}

.category-screen-wrapper .selected-filter-wrapper {
    display: flex;
    flex-flow: row wrap;
}

.category-screen-wrapper .product .link {
    min-height: 240px;
    height: 240px;
}

.category-screen-wrapper .selected-filter {
    background-color: #cff1ff;
    color: black;
    width: max-content;
    padding: 6px 12px;
    border-radius: 8px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.category-screen-wrapper .selected-filter svg {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.category-screen-wrapper .selected-filter svg:hover {
    cursor: pointer;
    opacity: .8;
}

.category-screen-wrapper .filter input,
.category-screen-wrapper .filter button,
.category-screen-wrapper .filter select {
    border: 1px solid #203040;
    margin: 5px 0;
    background-color: #f5f5f5;
}

.search-btn {
    background-color: transparent !important;
    color: white;
    border: 0.2rem #f6f674 solid !important;
}

.product-description.px-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

/* filter */
.filter-wrapper {

    min-width: 100vw;
    margin-left: -50vw;
    left: 50%;
    position: relative;
    padding: 0px !important;
    margin-top: -10px;
}


.filter-wrapper .search-input {
    position: relative;
}

.filter-wrapper .search-input input {
    padding-right: 35px;
}

.filter-wrapper .search-input svg {
    width: 20px;
    height: 20px;
    color: #203040;
    position: absolute;
    right: 12px;
}

.filter-wrapper .search-input svg:hover {
    opacity: .8;
    cursor: pointer;
}

.filter {

    display: flex;
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
    /*max-width: fit-content;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
}

.filter form, .filter .sort {
    display: flex;
    align-items: center;
    color: #fff;
}

.filter form button, .filter .sort span {
    width: fit-content;
}

.filter input,
.filter button,
.filter select {
    padding: 5px;
    border-radius: 0.5rem;
    border: 0.1rem #c0c0c0 solid;
    font-size: 1.2rem;
    background-color: #f5f5f5;
    width: 100%;
}

.filter li {
    margin: 0 10px;
}

.categories {
    padding: 0;
    list-style-type: none;
}

.categories a {
    display: flex;
    padding: 1rem;
}

.categories a:hover {
    background-color: #c0c0c0;
}

/*base*/
.-bg-image {
    height: 100%;
    background-size: cover;
    background-position: center;
}

/*headers*/
.headers-modal select {
    padding: 1rem;
    border: 0.1rem #c0c0c0 solid;
    border-radius: 0.5rem;
    width: 100%;
}
.headers-list img {
    width: 200px;
}

.carousel-inner .col-md-12 {
    display: flex;
    align-items: center;
}
.carousel-inner .content.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.carousel-inner .content h1 {
    font-size: 42px;
    border: 2px solid #F6F674 !important;
    background-color: hsl(210deg 100% 23% / 80%);
    border-left: 10px solid #ffffff;
    padding: 8px 20px;
    border-left: 5px solid #007bff !important;
    color: white;
    text-shadow: 2px 1px black;
}


.carousel-inner .content h1:after {
    width: 0px;
    height: 0px;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid green;
}
.carousel-inner .content a {
    color: #007bff;
    width: max-content;
    border: 2px solid #007bff;
    padding: 4px 10px;
    background-color: rgba(255,255,255,0.8);
    display: block;
    margin-top: 15px;
}
.carousel-inner .content a:hover {
    text-decoration: none;
    border-radius: 8px;
    opacity: 0.8;
    transition: all 0.3s;
    color: #0a0a0a;
    border: 2px solid #007bff;
    background-color: #F6F674;
    text-shadow: 2px 1px transparent;
}
.carousel a {
    width: 10%;
}
.carousel .product > a {
    width: 100%;
}
.indi-custom {
    background: #007bff;
    padding: 10px;
    border-radius: 50%;
    display: flex;
}
#carouselExampleIndicators1 .carousel-control-next, #carouselExampleIndicators1 .carousel-control-prev {
    width: fit-content;
    height: fit-content;
    top: 50%;
}
#carouselExampleIndicators1 .carousel-control-next {
    right: -30px !important;
}
#carouselExampleIndicators1 .carousel-control-prev {
    left: -60px;
}
#carouselExampleIndicators1 .product-wrapper {
    display: inline-block;
}

#carouselExampleSlidesOnly {
    min-height: 100px;
}
#carouselExampleSlidesOnly .carousel-item {
    transition-duration: 3s;
    text-align: center;
}
#carouselExampleSlidesOnly .col-lg-3 {
    display: inline-block;
    text-align: center;
}

.action {
    height: 40px;
    position: absolute;
    background: rgba(255, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    top: 10px;
    padding: 0 1.5rem;;
    font-size: 1.8rem;
}
.action:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}
.action:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid rgba(255, 0, 0, 0.7);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.about-us-wrapper .info-text {
    width: max-content;
}
.about-us-text p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
}
.about-us-img {
    border-radius: 10px;
}
.quote-wrapper blockquote {
    border-top: 2px solid #203040;
    border-bottom: 2px solid #203040;
    padding: 50px;
    font-size: 35px;
    text-align: right;
    padding-left: 120px;
}
.quote-wrapper svg {
    width: 100px;
    position: absolute;
    height: 100px;
    top: calc(50% - 50px);
    color: #203040;
}
.about-us-wrapper .contact svg {
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
    color: #9c9c9c;
}
.about-us-wrapper .contact p {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
}
.main-categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 60px;
}
.main-categories .category-bg-image {
    /*background-image: url("https://le-cdn.websites.hibu.com/8f8b35766e8947e2be0e167cbf9a4001/dms3rep/multi/opt/shutterstock_262895021-640w.jpg");*/
    background-position: center;
    background-size: cover;
    margin: 20px;
    /*border: 3px solid #007bff;*/
    /*border-radius: 8px;*/
    overflow: hidden;
}
.main-categories .category-bg-image {

    width: 45% !important;
    float: left;
    height: 200px !important;;
    max-height: 200px !important;;
}
.main-categories h2 {

    font-size: 22px!important;
    text-shadow: 2px 1px #000;
    background-color: hsl(210deg 100% 23%/65%);
    border: 1px solid #edf076;
    border-left-width: 7px;
    padding: 8px 20px;
    color: #fff;
    text-shadow: 2px 1px #000;
    width: 60%;
}

.product {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}
.layer {
    background-color: transparent !important;
    padding: 30px;
    width: 100%;
    height: 100%;
}
.main-categories .layer:hover {



}
.main-categories .category-bg-image {
    background-position: 50%;
    background-size: cover;
    margin: 20px;
    overflow: hidden;
    width: 100%;
    height: 200px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.layer {
    background-color: rgb(0 0 0 / 36%);
    padding: 30px;
    width: 100%;
    height: 100%;
}
.main-categories .layer:hover {
    cursor: pointer;
    opacity: 0.9;
    color: #fff;
    background-color: rgb(55 89 133 / 49%) !important;
    transition: 0.3s ease;
    border-radius: 8px;
}
.marked-inputs {
    display: flex;
    align-items: baseline;
}
.marked-inputs input {
    width: max-content;
    margin: 0 10px 0px 20px;
}
.brand-wrapper {
    margin: 60px 0;
}
.brand-wrapper img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.brand-wrapper img:hover {
    -webkit-filter: none;
    filter: none;
    transition: 0.5s ease;
}
.brand-wrapper ul {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
.brand-wrapper li {
    padding: 20px 10px;
    display: flex;
    align-self: center;
}
.home-screen-wrapper {
    margin: 60px 0;
}
.home-screen-wrapper .info-text {
    width: max-content;
    margin: 0 auto;
}
.cart-item svg{
    width: 20px;
    margin: 0 5px;
}
.cart-item span{
    background: red;
    color: white;
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 50%;
}
.mobile-navbar {
    display: none;
    height: 100%;
    z-index: 999;
}
/*.mobile-navbar .navbar-toggler{*/
/*    margin-top: 5px;*/
/*}*/
.navbar-collapse {
    background: #f1f1f1;
    min-width: 100vw;
    margin-left: -5px;
    z-index: 999;
}
.navbar-collapse ul {
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #007bff;

}
.navbar-collapse ul li {
   font-size: 22px;
    margin: 10px 0;
}
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    width: 25px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #007bff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 8px;
}

#nav-icon3 span:nth-child(4) {
    top: 16px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}
.navbar-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100Vw;
    height: 200vh;
    top: 50px;
    left: 0;
    display: none;
}
body * {
    font-family: 'Roboto', sans-serif;
}

/*Stevan adding*/

.info-box {
    border-bottom: 1px solid #80808030;
}

.top a {
    color: #005aab;
    font-size: 13px;
}

.brand {
    margin-top: 5px;
}

img.vulco {
    width: 15%;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.navbar {
    padding: 0px ;
    z-index: 99;
}

.carousel-inner .content h1 {
    font-size: 28px;
    border: 1px solid white;
    background-color: hsl(210deg 100% 23% / 80%);
    border-left: 10px solid #ffffff;
    padding: 8px 20px;
    color: white;
    text-shadow: 2px 1px black;
}
.carousel-inner .content a {
    color: #ffffff;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border: 2px solid #f6f674;
    padding: 8px 15px;
    background-color: hsl(210deg 100% 23%);
    display: block;
    margin-top: 15px;

    text-shadow: 2px 1px black;
}
.category-screen-wrapper .filter button, .category-screen-wrapper .filter input, .category-screen-wrapper .filter select {
    border: 1px solid #4a4b5045;
    margin: 5px 0;
    background-color: #ffffff;
    border-radius: inherit !important;
}
.header{
    padding: .5rem 3%;

    height: 70px;
}


.header-links a:last-child:hover{
    background: transparent !important;
    border: 2px solid transparent;
}

.header-links a {
    padding: 26px 15px;
    font-size: 16px;
    font-family: inherit;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}


.header-links a:hover {
    background-color: #005aab;
    color: #f6f674;
    border-left: 2px solid #f6f674;
    border-right: 2px solid #f6f674;
}

a.active {
    background-color: #005aab;
    color: #f6f674;
    border-left: 2px solid #f6f674;
    border-right: 2px solid #f6f674;
}
.details-action {
    border: .1rem solid #8080803d;
    border-radius: .5rem;
    background-color: #f8f8f8;
    padding: 1rem;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
}
.button.primary {
    background-color: #005aab;
    color: #fff;
    font-size: 20px;
}

.face{
    width: 30px;

}




.details-action ul li:nth-child(1) {

    font-size: 27px !important;
    font-weight: 700;
}
.details-action ul li:nth-child(2) {
    font-size: 23px !important;

}
.details-action select {
    border-radius: 0rem !important;
    padding: 0rem 2px !important;
    background: #fff;
    font-size: 16px;
}
.details-action ul li:nth-child(3) {
    font-size: 20px !important;

}
.details-info li {
    font-size: 18px !important;
}
.details-info ul li:nth-child(1) {

    font-weight: 700;
    color: #007bff;
}
.cart-action {
    flex: 1 1 20rem;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
    padding: 20px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
.cart-action span {
    font-size: 3rem;
    font-weight: 700;
    color: #243342;
}
.cart-name select {
    border-radius: 0 !important;
    padding: 0px 3px;
    background-color: #fff;
    margin-left: 6px;
    font-size: 16px;
}
.cart-list-container li img {
    max-width: 20rem;
    max-height: 20rem;
}
.cart-name {
    font-size: 2.3rem;
}


/*responsive*/
@media only screen and (max-width: 1500px) {
    #carouselExampleIndicators1 .carousel-inner.row {
        margin: 0;
    }
    #carouselExampleIndicators1 .carousel-control-next {
        right: 0 !important;
    }
    #carouselExampleIndicators1 .carousel-control-prev {
        left: 0;
    }
}
@media only screen and (max-width: 768px) {

    .home-screen-wrapper {
        margin: 60px 0 0 -7px !important;
    }

    .main-categories .category-bg-image {

        width: 100% !important;
        float: none;
        height: 200px !important;;
        max-height: 200px !important;;
    }

    .main-categories h2 {
        font-size: 25px!important;
        padding: 8px 0px;
        width: 100%;
    }
    .mobile-navbar {
        display: flex;
        align-items: center;
    }
    .cart-item:hover{
        color: #007bff;
        text-decoration: none;
    }
    .header-links {
        display: none;
    }
    .-carousel {
        margin: 0 -15px;
        min-height: 300px;
    }

    .-carousel .carousel-inner {
        height: 300px;
    }
    .-carousel a {
        width: 5%;
    }
    .carousel-inner .content a {
        font-size: 18px;
    }
    .carousel-inner .content h1 {
        font-size: 32px;
    }

    .-carousel .carousel-wrapper {
        margin-left: 0;
        left: 0;
    }
    .-carousel .carousel-wrapper .row {
        margin: 0;
    }

    .container .row {
        width: auto !important;
    }
    .header {
        width: 100vw;
    }

    .header .brand img {
        max-width: 50vw;
    }

    .filter-wrapper {
        margin: 0 -15px;
        width: 100vw;
        left: 0;
    }

    .filter-wrapper .my-3 {
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }

    .filter {
        display: flex;
    }

    .col-sm-6 {
        width: 50%;
        display: inline-block;
    }

    .cart-list-container li img {
        max-width: 10rem;
        max-height: 10rem;
    }

    .pagination-wrapper a {
        font-size: 16px;
    }

    .pagination-wrapper .pagination li {
        padding: 4px 8px;
    }

    .footer .col-md-12 {
        display: block;
        text-align: center;
    }

    .footer .contact {
        text-align: right;
        margin-top: 20px;
    }

    .category-screen-wrapper {
        margin: 0;
    }

    .category-screen-wrapper .category-products .row {
        margin: 0;
    }

    .category-screen-wrapper .category-products .col-sm-12 {
        padding: 0;
    }

    .category-screen-wrapper .product-wrapper {
        padding: 0;
    }

    .category-screen-wrapper .selected-filter {
        margin-top: 5px;
    }

    .about-us-wrapper {
        width: 100vw;
    }
    .about-us-wrapper .cart-action {
        margin: 10px;
    }
    .quote-wrapper blockquote {
        padding-bottom: 30px;
        font-size: 28px;
        text-align: center;
        padding-top: 100px;
        padding-left: 0;
        padding-right: 0;
    }
    .quote-wrapper svg {
        width: 70px;
        position: absolute;
        height: 70px;
        top: 15px;
        color: #203040;
        left: calc(50% - 35px);
    }
    .layer {
        padding: 15px;
    }
    .main-categories .category-bg-image {
        margin: 10px;
    }
    .brand-wrapper ul {
        justify-content: center;
    }
    .main-categories .category-bg-image {
        background-position: 50%;
        background-size: cover;
        margin: 20px;
        overflow: hidden;
        width: 100%;
    }

    .layer {
        background-color: rgb(0 0 0 / 36%);
        padding: 30px;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    /*Steva adding*/
    .carousel-inner .content h1 {
        font-size: 15px !important;
    }
    .carousel-inner .content a {
        padding: 0px 6px !important;
        font-size: 15px !important;
    }
    .carousel-item {

        width: 100vw !important;
        margin-right: 0px !important;
        padding-right: 25px !important;

    }
    .carousel-control-prev, .carousel-control-next { display: none }
    .main-categories {
        width: 95vw !important;
    }
    .cart-price {
        flex: 1 1;
        font-size: 2.5rem;
        text-align: right;
    }
}
